html {
    height: 100%;
}

#navbar-default {
    background: lightblue;
}

body {
    margin: 0;
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    background: lightblue;
}